@font-face {
  font-family: 'PP-Right-Didone';
  font-style: normal;
  font-weight: 500;
  src: url('./PP Right Didone - Wide Medium.otf');
  font-display: swap;
}

@font-face {
  font-family: 'PP-Right-Didone';
  font-style: normal;
  font-weight: 300;
  src: url('./PP Right Didone - Narrow Light.otf');
  font-display: swap;
}
